{% for event in event_list}
    <div class="row">
        <div class="category">
            </a href={{ event.link }}>
            {{ event.category }}
        </div>
        <div class="title">
            {{ event.title }}
        </div>
        <div class="date">
            {{ event.start }} + " • " + {{event.end}}
        </div>
        <div class="location">
            {{ event.location }}
        </div>
        <div class="description">
            
        </div>
    </div>
{% endfor %}