.categories {
    font-weight: bold;
    font-size: .82em;
    color: #4f2c1d;
    text-decoration: underline;
    text-decoration-color:#ffb500;
}

.title {
    font-weight: bold;
    font-size: 1.75em;
}

.date {
    font-weight: bold;
}

.location {
    font-weight: bold;
}

.description {
    color: #4f2c1d;
    font-size: 1.23em;
}